/* h1 {
    color: blue;
}

p {
    background-color: beige;
    color: red;
} */

#first {
    color: blue;
}

#second {
    color: chocolate;
}

.one {
    background-color: beige;
}

.two {
    background-color: blanchedalmond;
}